.nav {
    grid-area: nav;
    background-color: #fee5e0;
    padding: 20px 10px;
  }

.list {
    list-style-type: none;
    margin-bottom: 50px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  line-height: 30px;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: gold;
}