.heading {
    margin: 0;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;

}

.names_list {
    list-style-type: none;
    padding-left: 0;
    margin-right: 40px;
    width: 400px;
    border-right: 1px solid lightgray;
}



.chat_list {
    
}

